    ol.listaimion {
        list-style-type: upper-alpha;
        border: 1px solid black;
    }
    
    p.matkoibosko {
        font-weight: bold;
    }

    h1.nagłowekzad5 { 
        text-align: center; 
        color: black; 
    }

